.footer {
  padding: 31px;
  background-color: #51416e;

  &_text {
    text-align: center;
    color: #c0b9e8;
  }

  &_icons_wrapper {
    display: flex;
    justify-content: center;
  }

  &_icon {
    padding: 10px 10px 0;
    width: 44px;
    height: 44px;
    filter: invert(93%) sepia(6%) saturate(5333%) hue-rotate(187deg)
      brightness(94%) contrast(92%);
  }
}
