@import '../../variables';

.root {
  display: flex;
  flex-direction: column;
  padding: 31px 0; // TODO: удали, сделай по центру через flexbox
  background-color: $--color-ebony-900;
}

.text {
  text-align: center;
  color: $--color-ebony-300;
}

.icon {
  margin-left: $--space-4; // вместо padding, margin-left
  width: 44px;
  height: 44px;

  path {
    fill: $--color-ebony-300;
  }

  &Wrapper {
    display: flex;
    justify-content: center;
  }

  &:first-child {
    margin-left: 0;
  }
}
