/* stylelint-disable scss/dollar-variable-pattern */
// ebony
$--color-ebony-950: #181320;
$--color-ebony-910: #2e233f;
$--color-ebony-900: #51416e;
$--color-ebony-800: #624a89;
$--color-ebony-700: #7959a9;
$--color-ebony-600: #8b6ac1;
$--color-ebony-500: #9b84d0;
$--color-ebony-400: #ab9cdd;
$--color-ebony-300: #c0b9e8;
$--color-ebony-200: #d7d4f1;
$--color-ebony-100: #e8e7f8;
$--color-ebony-50: #f3f2fb;

// apple
$--color-apple-950: #013210;
$--color-apple-900: #0e5924;
$--color-apple-800: #0f6c29;
$--color-apple-700: #0b8a2e;
$--color-apple-600: #0abd3a;
$--color-apple-500: #13d447;
$--color-apple-400: #3deb6a;
$--color-apple-300: #7df89d;
$--color-apple-200: #b6fcc7;
$--color-apple-100: #d9ffe2;
$--color-apple-50: #effef2;

// cinnabar
$--color-cinnabar-950: #440b0b;
$--color-cinnabar-900: #7e1e1e;
$--color-cinnabar-800: #971d1d;
$--color-cinnabar-700: #b71e1e;
$--color-cinnabar-600: #da2828;
$--color-cinnabar-500: #eb3333;
$--color-cinnabar-400: #f67373;
$--color-cinnabar-300: #fba6a6;
$--color-cinnabar-200: #fdcbcb;
$--color-cinnabar-100: #fee2e2;
$--color-cinnabar-50: #fef2f2;

// broom
$--color-broom-950: #422a06;
$--color-broom-900: #714f12;
$--color-broom-800: #85600e;
$--color-broom-700: #a17b07;
$--color-broom-600: #cbab03;
$--color-broom-500: #ebd807;
$--color-broom-400: #fbf323;
$--color-broom-300: #fefe46;
$--color-broom-200: #f9fe8a;
$--color-broom-100: #f9fec3;
$--color-broom-50: #fcfee8;

// cerulean-blue
$--color-cerulean-blue-950: #171d54;
$--color-cerulean-blue-900: #1f2c89;
$--color-cerulean-blue-800: #1f2fae;
$--color-cerulean-blue-700: #1e37d7;
$--color-cerulean-blue-600: #2045e9;
$--color-cerulean-blue-500: #3c6af5;
$--color-cerulean-blue-400: #6191f9;
$--color-cerulean-blue-300: #94b8fc;
$--color-cerulean-blue-200: #bfd3fe;
$--color-cerulean-blue-100: #dbe5fe;
$--color-cerulean-blue-50: #eff4ff;

// woodsmoke
$--color-woodsmoke-950: #171717;
$--color-woodsmoke-900: #3d3d3d;
$--color-woodsmoke-800: #454545;
$--color-woodsmoke-700: #4f4f4f;
$--color-woodsmoke-600: #5d5d5d;
$--color-woodsmoke-500: #6d6d6d;
$--color-woodsmoke-400: #888;
$--color-woodsmoke-300: #b0b0b0;
$--color-woodsmoke-200: #d1d1d1;
$--color-woodsmoke-100: #e7e7e7;
$--color-woodsmoke-50: #f6f6f6;

// fuchsia
$--color-fuchsia-950: #4b0743;
$--color-fuchsia-900: #721d69;
$--color-fuchsia-800: #8b1d81;
$--color-fuchsia-700: #aa21a0;
$--color-fuchsia-600: #cd2cc5;
$--color-fuchsia-500: #ea53e5;
$--color-fuchsia-400: #f57df1;
$--color-fuchsia-300: #f9aef8;
$--color-fuchsia-200: #fbd2fc;
$--color-fuchsia-100: #fde9fe;
$--color-fuchsia-50: #fff4ff;

// standart
$--color-white: #fff;
$--color-black: #000;

// space
$--space-4: 10px 10px 0;
