body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%; /* 24px */
  color: white;
  background: var(--ebony-950, #181320);
}
